@page
@using CarpetCostCalculator.Pages       
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">      
        <h3>Carpet Cost Calculator</h3>    
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <div class="row">
                    <label asp-for="@Model.Carpet.Width" class="col-lg-2"></label>
                    <input type="text" asp-for="@Model.Carpet.Width" class="col-lg-2" />
                    <label asp-for="@Model.Carpet.Length" class="col-lg-2"></label>
                    <input type="text" asp-for="@Model.Carpet.Length" class="col-lg-2" />
                    <label asp-for="@Model.Carpet.CarpetType" class="col-lg-2"></label>
                    <select asp-for="@Model.Carpet.CarpetType" asp-items="@Model.Carpet.CarpetTypes" class="col-lg-2">

                    </select>
                </div>

                <div class="row p-2">
                    <input  asp-for="@Model.Carpet.Installation" class="col-sm-2 m-0 p-0" />
                    <label asp-for="@Model.Carpet.Installation?" class="col-lg-6 text-danger m-0"></label>            
                </div>
                <div class="row p-2">
                     <input  asp-for="@Model.Carpet.Underlay" class="col-sm-2 m-0" />
                    <label asp-for="@Model.Carpet.Underlay" class="col-lg-6 text-danger m-0"></label>
                </div>
                <div class="row m-5">
                    <input type="submit" value="Submit Your Carpet Details" asp-action="Index" class="col-md-4 mx-auto text-success" />
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <h3>Results</h3>

        <div class="row">
            <div class="col-md-4"><label asp-for="@Model.Carpet.AreaOfCarpet" class="col-lg-4 text-success"></label> <input type="string" asp-for="@Model.Carpet.AreaOfCarpet" class="col-lg-2" disabled/>sqM</div>
            <div class="col-md-8"><label asp-for="@Model.Carpet.Cost" class="col-lg-2 text-success"></label> $<input type="string" asp-for="@Model.Carpet.Cost" class="col-lg-2" disabled/></div>
        </div>
    </div>
</div>
